<!-- add myMap to custom knockout binding handler -->
<h2>Location details</h2>
<a href="#google-map" class="google-map-link" data-bind="visible: googleMapPoints().length > 0">Go to map ></a>
<!-- monitor changes on googleMapPoints -->
<table class="city-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Latitude</th>
			<th>Longitude</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: googleMapPoints">
		<tr>
			<td data-bind="text: name"></td>
			<td data-bind="text: lat"></td>
			<td data-bind="text: lon"></td>
		</tr>
	</tbody>
</table>